* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 420px;
  user-select: none;

  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  font-size: 16px;

  // Light theme:

  // --bg: ;
  // --fg: ;
  // --item-bg1: ;
  // --item-bg2: ;
  // --button-bg1: ;
  // --button-bg2: ;
  // --accent1: ;
  // --accent2: ;

  // Dark theme:

  @media (prefers-color-scheme: dark) {
    --bg: #202020;
    --fg: #F9F9F9;
    --item-bg1: #181818;
    --item-bg2: #282828;
    --button-bg1: #3F3F3F;
    --button-bg2: #303030;
    --accent1: #14415A;
    --accent2: #00A3FF;
    --accent3-bg: #E02929;
    --accent3-fg: var(--fg);
    --accent3-border: #E85E5E;
  }

  color: var(--fg);
  background-color: var(--bg);
}