:root {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
}

:root {
  --color-title: #555;                 // Title of each download
  --color-title-hover: #0577c9;

  --color-action: #777;                // "Show in Folder", "Pause", "Remove from List", etc.
  --color-action-hover: #0073c0;

  --color-file-size: #999;

  --color-background-1: #fff;          // Background of every 2n+1'st item
  --color-background-2: #f8f8f8;       // Background of every 2n+2'nd item
  --color-background-hover: #f0f8ff;
  --color-background-active: #dff5ff;

  --color-border-hover: #87ceeb73;

  --color-background-accent: #d0d0d0;     // extra color, ie. underlines of actions
  --color-background-accent-hover: #aaa;
}

body {
  margin: 0;
  width: 420px; // nice
  user-select: none;
}